/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
}

h1,
p {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 216, 216);
}

header {
  background-image: linear-gradient(175deg, #00ffff 15%, #8c00ff 100%);
  padding: 60px;
}
